html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;  
}

body.light {
  background-color: #fff;
 
}

.to-do-list.light {
  background-color: #fff;
 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  height: 100vh;
  padding: 20px; 
  text-align: center; 
}



.to-do-list h1{
  font-family: 'Montserrat', sans-serif; 
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 30px;
  text-align: center;

}
/* Dark Mode Styles */
body.dark {
  background-color: #252525;
  color: white;
}

.to-do-list.dark {
  background-color: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh; 
  padding: 20px;
  text-align: center; 
}





body.dark .modal {
  background-color: #333; 
  color: white;
}

body.dark .modal-overlay {
  background: rgba(0, 0, 0, 0.7);
}

button {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin-left: 10px;
}

.add-button {
  background-color:#6C63FF;
  position: fixed;
  bottom: 60px;
  right: 350px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 60px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}



ol {
  padding: 0;
}

li {

  padding: 10px;
  border-bottom: 2px solid rgba(108, 99, 255, 0.5); 
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: 540px;
  height: 35px;
  margin: 0 auto;
}


.text {
  flex: 1;
  text-align: left;
  font-weight: 500;
  margin-left: 20px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 550;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}


.edit-button,
.delete-button {
  font-size: 16px;
  margin-left: 10px;
  padding: 0; 
  background: none; 
  border: none;
  color: #d1cfcf;
  cursor: pointer;
  display: inline-flex; 
  align-items: center;
}
.edit-button {
  margin-right: 5px;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 500px;
  height: 280px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-80px);
}

.modal-header {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  bottom: 20px;
  color: #333;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.modal input {
  width: auto;
  padding: 10px;
  margin: 0 0 20px 0;
  border: 2px solid #6C63FF;
  color: black;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
}

.modal input::placeholder {
  color: #6C63FF;
  opacity: 0.3;
  font-size: 1.2rem;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: auto; 
}

.cancel-button {
  background-color: #fff;
  color: #6C63FF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: 2px solid #6C63FF;
  cursor: pointer;
  transition: background-color 0.3s ease;
}



.apply-button {
  background-color: #6C63FF;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.search-box-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  gap: 15px; 
  margin-bottom: 20px;
}

.search-box {
  padding: 8px 15px;
  font-size: 18px;
  border: 2px solid #6C63FF;
  width: 570px; 
  border-radius: 6px;
  color: black;
  opacity: 0.8;
  font-size: 16px;
  position: relative;
  left: 13px;
}
.search-icon {
  position: relative;
  right: 20px; 
  top: 15px;
  transform: translateY(-50%);
  color: rgba(64, 56, 221, 0.664);
  font-size: 20px; 
}

.search-box:focus {
  outline: none; 
  
}
.search-box::placeholder {
  color: #6C63FF;
  opacity: 0.4;
}



.filter-container select {
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 10px;
  background-color: #6C63FF;
  width: auto;
  margin-left: 8px;
  height: 40px;
  color: white;
  font-weight: bold;
  border: none; 
  outline: none;
}


.filter-container select option {
  background-color: #f0f0f0;
  color: #6C63FF; 
  border: none; 
}

.filter-container select:focus {
  border: none; 
  outline: none; 
}



.theme-toggle {
  font-size: 18px;
  cursor: pointer;
  background-color: #6C63FF; 
  border: none;
  position: relative;
  left: 415px;
  top:40px;
  outline: none;
  padding: 10px;
  border-radius: 10px; 
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: #5a54d7;
}

.theme-toggle svg {
  fill: #fff; 
}


.filter-container, .search-container, .theme-toggle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.no-results-image {
  width: 250px; 
  height: auto; 
  margin-bottom: 10px; 
}

.empty-message p {
  margin-top: 0; 
  font-size: 38px;
  color: #666; 
}


input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border: 2px solid #6C63FF; 
  border-radius: 4px; 
  appearance: none;
  -webkit-appearance: none; 
  display: inline-block;
  position: relative;
  right: 10px;
  cursor: pointer;
  outline: none;

}


input[type="checkbox"]:checked::before {
  content: "✔"; 
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input[type="checkbox"]:checked {
  background-color: #6C63FF; 
  border-color: #6C63FF; 
}



body.dark .modal-overlay {
  background: #2525250b; 
}

body.dark .modal {
  background: #252525; 
  color: white; 
  border-radius: 15px; 
  border: 2px solid #fff;
  transform: translateY(-80px);
}

body.dark .modal-header {
  color: white;
  font-weight: 550;
}

body.dark .modal input {
  background-color: #252525;
  color: white; 
  border: 2px solid #fff;
  font-size: 16px;

}

body.dark .modal input::placeholder {
  color: #bbb; 
}

body.dark .modal-actions {
  display: flex;
  justify-content: space-between;
}

body.dark .cancel-button {
  background-color: transparent;
  color: #6C63FF;
  border: 2px solid #6C63FF;
}

body.dark .apply-button {
  background-color: #6C63FF;
  color: white;
  border: none;
}

body.dark ol li {
  background-color: transparent;
 
  border-bottom: 1px solid #6C63FF;

}

body.dark ol li .text {
  color: white !important; 
}


body.dark ol li input[type="checkbox"]:checked + .text {
  text-decoration: line-through; 
  color: #888 !important; 
}


body.dark .search-box {
  background-color: transparent; 
  color: white; 
  border: 2px solid #fff; 
  opacity: 0.9; 
}

body.dark .search-box::placeholder {
  color: #aaa; 
}
body.dark .search-icon{
color: #ffffff;
}



